### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
unique_players=purchase_data['SN'].nunique()

unique_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# unique items

unique_items =purchase_data['Item ID'].nunique()

average_price = purchase_data['Price'].mean()

number_purchases = len(purchase_data)

total_revenue = purchase_data['Price'].sum()

summary_table = pd.DataFrame({"Number of Unique Items":[unique_items],
                             "Average Price": [average_price],
                             "Number of Purchase":[number_purchases],
                              "Total Revenue": [total_revenue]})
summary_table["Average Price"] = summary_table["Average Price"].astype(float).map("${:,.2f}".format)
summary_table["Total Revenue"] = summary_table["Total Revenue"].astype(float).map("${:,.2f}".format)




summary_table

   Number of Unique Items Average Price  Number of Purchase Total Revenue
0                     183         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
unique_df = purchase_data.groupby("SN").first()

unique_df["Gender"].value_counts()

unique_gender = unique_df["Gender"].value_counts()

male_count = unique_df["Gender"].value_counts()["Male"]

female_count = unique_df["Gender"].value_counts()["Female"]

other_count = unique_df["Gender"].value_counts()["Other / Non-Disclosed"]

total_count = male_count + other_count

gender_list = unique_df["Gender"].unique()
type_gender = pd.Series((V[0] for V in gender_list))

counter = (male_count, female_count, other_count)
percentage_male = male_count / total_count *100
percentage_female = female_count / total_count *100
percentage_other = other_count / total_count *100

percentages = (percentage_male, percentage_female, percentage_other)

gender_table = pd.DataFrame({"Gender": type_gender, "Total Count": counter, "Percentage of Players": percentages})

gender_table["Percentage of Players"] = gender_table["Percentage of Players"].astype(float).map("{:.2f}%".format)

gender_table

  Gender  Total Count Percentage of Players
0      M          484                97.78%
1      F           81                16.36%
2      O           11                 2.22%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
gender_df = purchase_data.groupby(["Gender"])

purchase_count = gender_df["Price"].count()

price_mean = gender_df["Price"].mean()

total_purchase = gender_df["Price"].sum()

gender_purchasing = pd.DataFrame({"Purchase Count": purchase_count,
                                  "Average Purchase Price": price_mean,
                                  "Total Purchase Value": total_purchase,})
gender_purchasing["Average Purchase Price"]= gender_purchasing["Average Purchase Price"].astype(float).map("${:,.2f}".format)
gender_purchasing["Total Purchase Value"]= gender_purchasing["Total Purchase Value"].astype(float).map("${:,.2f}".format)

gender_purchasing

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,$3.20,$361.94
Male,652,$3.02,"$1,967.64"
Other / Non-Disclosed,15,$3.35,$50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
bin_age = [ 0, 9, 14, 19, 24, 29, 34, 39, 1000]

group_names_age = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-34", "40+"]

purchase_data["Age Summary"] = pd.cut(purchase_data["Age"], bin_age, labels=group_names_age)

age_df = purchase_data.groupby(["Age Summary"])

count_players_age = age_df["SN"].nunique()
percentage_players_age = age_df["SN"].nunique()/ total_count * 100

age_summary_table= pd.DataFrame({"Total Count": count_players_age,
                                "Percentage of Players": percentage_players_age})
age_summary_table["Percentage of Players"] = age_summary_table["Percentage of Players"].astype(float).map("{:.2f}%".format)

age_summary_table

             Total Count Percentage of Players
Age Summary
<10                   17                 3.43%
10-14                 22                 4.44%
15-19                107                21.62%
20-24                258                52.12%
25-29                 77                15.56%
30-34                 52                10.51%
35-34                 31                 6.26%
40+                   12                 2.42%

Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
count_purchase_age = age_df["SN"].count()
avg_price_age = age_df["Price"].sum() / count_purchase_age
purchase_value = avg_price_age * count_purchase_age
avg_purchase_person = age_df["Price"].sum() / age_df["SN"].nunique()

age_purchase_table = pd.DataFrame({"Purchase Count":count_purchase_age,
                                  "Average Purchase Price": avg_price_age,
                                  "Total Purchase Value":purchase_value,
                                  "Aveg Total Purchase per Person": avg_purchase_person})

age_purchase_table["Average Purchase Price"] = age_purchase_table["Average Purchase Price"].astype(float).map("${:,.2f}".format)
age_purchase_table["Total Purchase Value"] = age_purchase_table["Total Purchase Value"].astype(float).map("${:,.2f}".format)

age_purchase_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Aveg Total Purchase per Person
Age Summary,,,,
<10,23,$3.35,$77.13,4.537059
10-14,28,$2.96,$82.78,3.762727
15-19,136,$3.04,$412.89,3.858785
20-24,365,$3.05,"$1,114.06",4.318062
25-29,101,$2.90,$293.00,3.805195
30-34,73,$2.93,$214.00,4.115385
35-34,41,$3.60,$147.67,4.763548
40+,13,$2.94,$38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
spenders_df = purchase_data.groupby(["SN"])

avg_price_age = age_df["Price"].sum() / count_purchase_age
purchase_value = avg_price_age * count_purchase_age
avg_purchase_person = age_df["Price"].sum() / age_df["SN"].nunique()

purchase_count_spender = spenders_df["SN"].count()
avg_purchase_price_spender = spenders_df["Price"].sum() / spenders_df["SN"].count()
total_purchase_price_spender = avg_purchase_price_spender * purchase_count_spender

spender_summary_table = pd.DataFrame({"Purchase Count": purchase_count_spender,
                                     "Average Purchase Price": avg_purchase_price_spender,
                                     "Total Purchase Value": total_purchase_price_spender})
spender_summary_table_sort = spender_summary_table.sort_values("Purchase Count", ascending=False)

spender_summary_table_sort["Average Purchase Price"] = spender_summary_table_sort["Total Purchase Value"].astype(float).map("${:,.2f}".format)

spender_summary_table_sort.head(5)

             Purchase Count Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                 $18.96                 18.96
Iral74                    4                 $13.62                 13.62
Idastidru52               4                 $15.45                 15.45
Asur53                    3                  $7.44                  7.44
Inguron55                 3                 $11.11                 11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
items_df = purchase_data.groupby(["Item ID"])

item_name = items_df["Item Name"].max()
purchase_count_items = items_df["SN"].count()
price_items = items_df["Price"].max()
total_purchase_price_items = price_items * purchase_count_items

items_summary_table = pd.DataFrame({"Item Name": item_name, "Purchase Count": purchase_count_items,
                                   "Item Price": price_items, "Total Purchase Value": total_purchase_price_items})
items_summary_table_sort = items_summary_table.sort_values( "Purchase Count", ascending=False)

items_summary_table_sort["Items Price"] = items_summary_table_sort["Item Price"].astype(float).map("${:,.2f}".format)
items_summary_table_sort["Total Purchase Value"] = items_summary_table_sort["Total Purchase Value"].astype(float).map("${:,.2f}".format)

items_summary_table_sort.head(5)

,Item Name,Purchase Count,Item Price,Total Purchase Value,Items Price
Item ID,,,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,$50.76,$4.23
145,Fiery Glass Crusader,9,4.58,$41.22,$4.58
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,$31.77,$3.53
82,Nirvana,9,4.90,$44.10,$4.90
19,"Pursuit, Cudgel of Necromancy",8,1.02,$8.16,$1.02

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
items_summary_table_new_sort = items_summary_table.sort_values("Total Purchase Value", ascending=False)

items_summary_table_new_sort["Item Price"] = items_summary_table_new_sort["Item Price"].astype(float).map("${:,.2f}".format)
items_summary_table_new_sort["Total Purchase Value"] = items_summary_table_new_sort["Total Purchase Value"].astype(float).map("${:,.2f}".format)

items_summary_table_new_sort.head(5)

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80